@charset "utf-8";

body{
	text-align: center;
	margin: auto;
	max-width: 900px;

}

img {
  display: block;
}

.FVimg{
	position: relative;
}


.btn1{
	margin: auto;
	max-width: 900px;
	text-align: center;
	
	position: absolute; /* 基準を親要素に指定 */
  /* ここでボタンの位置やサイズを設定 */
  top: 100%; /* 上から50%の位置 */
  left: 5%; /* 左から50%の位置 */
right: 5%;
  transform: translate(0%, -120%); /* 基準点に合わせてボタンを移動 */	

}

/*ボタンきらりん効果*/
.c-button._shiny {
    display: block;
    position: relative;
    padding: auto;
    
    margin:auto;
    max-width:900px;
    overflow: hidden;
  transition: 300ms;
}

.c-button._shiny::before {
    position: absolute;
    content: '';
    display: inline-block;
    top: -180px;
    left: 20px;
    width: 30px;
    height: 50%;
    background-color: #ffffff;
    transition: 300ms;
    animation: shinyshiny 2.5s ease-in-out infinite;
	margin-left: 50px;
}

/*ホバー効果*/
.c-button._shiny:hover {
    text-decoration: none;
    color: #fff;
    box-shadow: none;
    -webkit-transform: translateY(3px);
}

@-webkit-keyframes shinyshiny {
    0% { -webkit-transform: scale(0) rotate(45deg); opacity: 0; }
    80% { -webkit-transform: scale(0) rotate(45deg); opacity: 0.2; }
    81% { -webkit-transform: scale(4) rotate(45deg); opacity: 0.5
		; }
    100% { -webkit-transform: scale(50) rotate(45deg); opacity: 0; }
}

.section{
	text-align: center;
	margin: auto;
	max-width: 900px;
}



.student {
	text-align: center;
	margin: auto;
	max-width: 900px;
	background-image: url("../img/page4back@2x.webp");
	padding: 30px 0 60px;
}

.voice {
	text-align: center;
	margin: 50px 20px;
	max-width: 900px;
	background-color: #f6edd3;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5); /* 影 */
	padding-bottom: 20px;
}





#readMoreBlock {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  gap: 35px;
}

#readMoreBlock2{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  gap: 35px;
}

#readMoreBlock3{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  gap: 35px;
}

.readMoreInner {
  width: 100%;
  margin: 0 auto;
  padding: 10px 20px;
  border-radius: 3px;
  box-sizing: border-box;
  background: #f6edd3;
}
.readMoreContainer {
  position: relative;
  height: auto;
  max-height: 250px;
  overflow: hidden;
  transition: max-height 0.6s;
}
.readMoreContainer::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  display: block;
  width: 100%;
  height: 100%;
  transition: 1s;
  background: linear-gradient(to bottom, transparent 40%, #f6edd3 100%);
  pointer-events: none;
}
.readMoreContainer.show:after {
  z-index: -1;
  opacity: 0;
}
.readMoreBtn {
  display: block;
  margin: 0 auto;
  padding: 8px 40px;
  border: 0;
  color: #ffffff;
  background-color: #82040f;
  cursor: pointer;
	border-radius: 5px;
}

.readMoreContainer p:last-child {
    margin-bottom: 10px;
}


.page5{
	position: relative;
}

.btn2{
	margin: auto;
	max-width: 900px;
	text-align: center;
	
	position: absolute; /* 基準を親要素に指定 */
  /* ここでボタンの位置やサイズを設定 */
  top: 90%; /* 上から50%の位置 */
  left: 5%; /* 左から50%の位置 */
right: 5%;
  transform: translate(0%, -120%); /* 基準点に合わせてボタンを移動 */	

}

.page7{
	position: relative;
}

.btn3{
	margin: auto;
	max-width: 900px;
	text-align: center;
	
	position: absolute; /* 基準を親要素に指定 */
  /* ここでボタンの位置やサイズを設定 */
  top: 99%; /* 上から50%の位置 */
  left: 5%; /* 左から50%の位置 */
right: 5%;
  transform: translate(0%, -120%); /* 基準点に合わせてボタンを移動 */	

}


